.button {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: hsl(0, 79%, 52%);
  color: #ffffff;
}

.button:hover {
  background-color: hsl(0, 99%, 40%);
}

.button:active {
  background-color: hsl(0, 99%, 40%);
  transform: translateY(4px);
}
