.infoIcons {
  display: flex;
  flex-wrap: wrap;
}
.infoIcons > li {
  margin: 0;
  margin-right: 4px;
  margin-bottom: 4px;
}

.infoIcons > li > span {
  padding: 6px;
  background-color: hsl(0, 99%, 86%);
  border-radius: 6px;
}
