.addActivityForm {
  line-height: 1.5em;
  position: relative;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(3);
}
.formBottom {
  border-top: 1px solid hsl(211, 10%, 73%);
  line-height: 2em;
}

.checkboxes {
  white-space: nowrap;
}

.option {
  display: inline;
  margin-right: 12px;
}

.addActivityForm input {
  margin-bottom: 8px;
}

.description textarea {
  width: 100%;
  height: 158px;
}

.hoursDates {
  display: flex;
  justify-content: space-between;
}
input[type="file"] {
  display: none;
}
.customFileUpload {
  display: flex;
  width: 84%;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: hsl(0, 74%, 48%);
  color: hsl(211, 100%, 97%);
}

.customFileUpload:hover {
  background-color: hsl(0, 79%, 40%);
  cursor: pointer;
}

.customFileUpload:active {
  background-color: hsl(0, 79%, 40%);
  transform: translateY(4px);
}
.button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 24px;
  margin-right: 12px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  border: none;
  background-color: hsl(0, 74%, 48%);
  color: hsl(211, 100%, 97%);
}

.button:hover {
  background-color: hsl(0, 79%, 40%);
  cursor: pointer;
}

.button:active {
  background-color: hsl(0, 79%, 40%);
  transform: translateY(4px);
}
.imageUploader > img {
  width: 250px;
  height: 175px;
  object-fit: cover;
  border-radius: 6px;
  border: 2px solid hsl(211, 50%, 85%);
}
