header {
  display: flex;
  padding: 12px;
}

nav {
  align-items: center;
  display: flex;
}

.hamburger {
  display: flex;
}

.primaryAction {
  padding: 12px;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header .signIn {
  padding: 8px;
  margin-right: 12px;
  position: absolute;
  right: 0;
}

.signIn button {
  text-decoration: none;
  background-color: hsl(0, 79%, 52%);
  padding: 12px;
  border-radius: 6px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}

li + li {
  margin: 0 6px;
}

a {
  display: flex;
  align-items: center;
}
