
.findActivities {
  display: flex;
  border-radius: 6px;
  padding: 3px;
}

.listings {
  justify-content: center;
  text-align: center;
  max-width: 1280px;
}

.listings > li + li {
  margin: 0;
  text-align: left;
  margin-top: 6px;
}
