.activityPage {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.activity {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  border-radius: 6px;
  border-right: 4px solid hsl(211, 50%, 85%);
  border-bottom: 4px solid hsl(211, 50%, 85%);
  background-color: hsl(211, 100%, 97%);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2);
  grid-template-rows: repeat(2);
  column-gap: 18px;
  row-gap: 18px;
  padding: 24px 24px;
}

.grid1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.grid2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  position: relative;
  width: 240px;
}

.grid3 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.grid4 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  width: 450px;
  height: fit-content;
}

.activityTitle {
  padding-bottom: 15px;
}

.links {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-bottom: 24px;
  display: flex;
  border-bottom: 1px solid hsl(211, 10%, 73%);
}

.links > li + li {
  margin-left: 12px;
}

.name {
  font-size: 24px;
  font-weight: 500;
}

.activityDescription {
  margin-top: 16px;
  padding-top: 8px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 96px;
  max-width: 500px;
  border-top: 2px solid hsl(211, 50%, 85%);
}

.activityMetadata {
  position: absolute;
  margin-bottom: 24px;
  font-size: 14px;
  bottom: 0;
  line-height: 20px;
}

.activityMetadata span {
  color: hsl(211, 25%, 35%);
}

.image > img {
  width: 450px;
  height: 270px;
  object-fit: cover;
  border-radius: 6px;
}

.button {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: hsl(0, 74%, 48%);
  color: #ffffff;
}

.button:hover {
  background-color: hsl(0, 79%, 40%);
}

.button:active {
  background-color: hsl(0, 79%, 40%);
  transform: translateY(4px);
}
