main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-attachment: fixed;
  background-color: hsl(211, 50%, 90%);
}

.side-padding {
  margin-left: 32px;
  margin-right: 32px;
}
